/* Global properties */
html {
  font-size: 12pt;
  font-family: 'PT Serif', 'Georgia', serif;
}

@mixin top-level-text {
  text-align: center;
}

table {
  margin: 0 auto;
}

/* components */
.header {
  @include top-level-text;
  font-size: 1.75rem;
  margin: 3rem 0;
}

.search-result-list {
  &__header {
    text-align: center;
  }
  &__message {
    text-align: center;
  }
  &__group {
    border: 1px solid black;
    margin: 0 0 1em 0;

    &__header {
      text-align: center;
    }
  }
}

.rules-table {
  &__header {
    text-align: center;
  }
  &__word-form-row {
    &--matched * {
      font-weight: bold;
    }
  }
}



.search-form {
  @include top-level-text;
}