/* Global properties */
@mixin default-font {
  font-family: 'PT Serif', 'Georgia', serif;
}

html {
  @include default-font;
  font-size: 12pt;
}

input, button {
  @include default-font;
}

table {
  margin: 0 auto;
}

/* components */
.header {
  text-align: center;
  font-size: 1.75rem;
  margin: 3rem 0;
}

.search-result-list {
  &__header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__message {
    text-align: center;
  }
  &__group {
    margin: 0 0 5rem 0;

    &__header {
      text-align: center;
    }
  }
}

.rules-table {
  &__header {
    text-align: center;
  }
  &__word-form-row {
    &--matched * {
      font-weight: bold;
    }
  }
}

.search-form {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  * {
    font-size: 1.2rem;
  }
}